.ul { text-decoration: underline; }
#themeSwitcher { display: none; }
.wy-nav-top { position: sticky; top: 0; z-index: 1; }
.wy-body-for-nav { background-color: #0d0d0d; }

.rst-content .highlighted {
    background: inherit;
    box-shadow: inherit;
    font-weight: inherit;
    padding: inherit;
}
